JSON node-red.txt
[
    {
        "id": "131842d452b9fd20",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1071387b022058f5",
        "type": "aedes broker",
        "z": "131842d452b9fd20",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 470,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "02a753fdea8c243c",
        "type": "debug",
        "z": "131842d452b9fd20",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 300,
        "wires": []
    },
    {
        "id": "2fdd8117070076e8",
        "type": "mqtt in",
        "z": "131842d452b9fd20",
        "name": "",
        "topic": "#",
        "qos": "0",
        "datatype": "auto",
        "broker": "8990fab2dccdcfdc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 240,
        "wires": [
            [
                "75f161283773478b"
            ]
        ]
    },
    {
        "id": "75f161283773478b",
        "type": "json",
        "z": "131842d452b9fd20",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "02a753fdea8c243c",
                "4e01653368adbd9a"
            ]
        ]
    },
    {
        "id": "4e01653368adbd9a",
        "type": "file",
        "z": "131842d452b9fd20",
        "name": "",
        "filename": "/home/pi/Documents/dadosmedidor.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 570,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "8990fab2dccdcfdc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]